.addresses-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.addresses-list p {
    font-size: 0.8rem;
    line-height: 1.5;
}

.addresses-list h5 {
    margin-bottom: .9rem;
}

@media screen and (min-width: 518px) {
    .addresses-list {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 80%;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 850px) {
    .addresses-list {
        max-width: 80%;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-right: 10%;
    }
    .addresses-list .address {
        padding-bottom: 16px;
    }
    .addresses-list h5 {
        margin-top: 0;
    }
}