.btn {
    background-color: transparent;
    border: 2px solid var(--white);
    border-radius: var(--br-8);
    color: var(--white);
    padding: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    background: var(--white);
    color: var(--black);
}

/* BUTTON */

.btn-primary {
    font-size: 25px;
    padding: 25px 50px;
    color: var(--black);
    border: 2px solid var(--black);
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s ease;
}

.btn-primary:hover {
    background: var(--black);
    color: var(--white);
}

.btn-secondary {
    font-size: 25px;
    padding: 28px 60px;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 8px;
    text-decoration: none;
    transition: .3s ease;
}

.btn-secondary:hover {
    background-color: var(--white);
    color: var(--black);
}

/* END BUTTON */