@import url('../fonts/Avenir/font.css');

:root {
  /* Fonts */
  font-family: "avenir";

  /* Colors */
  --yellow-dark: #DE9816;
  --yellowe-light: #FBB03B;
  --black: #000;
  --white: #fff;
  --grey-700: #4d4d4d;
  --grey-500: #707070;
  --grey-200: #f2f1f0;

  --br-8: 8px;
}

body {
  padding: 50px;
  font: 14px "avenir";
}

.avenir-black{
  font-weight: 900;
}
.avenir-bold{
  font-weight: bold;
}
.avenir-medium{
  font-weight: 600;
}
.avenir-medium-italic{
  font-weight: 600;
  font-style: italic;
}
.avenir-medium-oblique{
  font-weight: 600;
  font-style: oblique;
}
.avenir-roman{
  font-weight: 500;
}
.avenir-book{
  font-weight: 400;
}
.avenir-light{
  font-weight: 300;
}
.avenir-light-italic{
  font-weight: 300;
  font-style: italic;
}
.avenir-thin{
  font-weight: 100;
}

p {
  color: red;
  font-weight: 100;
}
