.careers-page {
    margin-top: 122px;
}

.ac {
    margin-top: 0;
    border: none;
}

.accordion-container>*+* {
    border-top: 2px solid rgb(61, 61, 61);
}

.ac-panel {
    background-color: #222;
}

.ac-content {
    padding: 0px 30px 0px 30px;
    text-align: justify;
}

.ac-content h4 {
    font-size: 1.3rem;
}

.ac-content .btn {
    margin-top: 24px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}

.ac>.ac-header .ac-trigger::after {
    content: none;
}

.ac.is-active>.ac-header .ac-trigger::after {
    content: none;
}

.ac-header .ac-trigger {
    font-size: 1.3rem;
    padding: 30px;
}

.ac.is-active>.ac-header .ac-trigger {
    color: white;
    background-color: #222;
}

.ac-header .ac-trigger:hover {
    color: white;
    background-color: #222;
}

.ac-panel * {
    color: white;
}

@media (min-width: 700px) {
    .ac-header .ac-trigger {
        font-size: 3.5vw;
        padding: 35px 64px;
    }
    .ac-content {
        padding: 16px 64px;
    }
    .ac-content .btn {
        width: 50%;
    }
    .ac-content p {
        text-align: justify;
    }
}

@media (min-width: 1000px) {
    .ac-content .btn {
        display: inline-block;
        width: auto;
    }
    .careers-page {
        margin-top: 142px !important;
    }
    .ac-content p {
        text-align: justify;
    }
}