.home-agency-page {
    margin-top: 142px !important;
}

.home-agency-page .categories {
    display: grid;
    grid-template-columns: 50% 50%;
    background: linear-gradient(#00000055, #00000055), url(/images/bg-01.png);
    margin: -2px;
}

.category {
    min-height: 200px;
    color: white;
    position: relative;
    padding: 16px;
    cursor: pointer;
    display: block;
    border: 1px solid white;
}

.category:hover {
    color: white;
}

.category h4 {
    font-size: 1.6rem;
    margin-left: 1.33em;
    margin-right: 1.33em;
}

.category-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    font-weight: 700;
    opacity: 0;
    transition: all .5s ease-in-out;
    pointer-events: none;
    text-shadow: 0px;
    transition-property: text-shadow;
    transition-duration: 0.3s;
    transition-delay: 0.05s;  
    
}

.category:hover .category-overlay{
    opacity: 1;
    text-shadow: 4px 0 0 #fff, -4px 0 0 #fff, 0 4px 0 #fff, 0 -4px 0 #fff, 3px 3px #fff, -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff;


}

.home-agency-page .brands {
    display: grid;
    grid-template-columns: 50% 50%;
}

.home-agency-page .brand {
    text-align: center;
}

@media (min-width: 870px) {
    .home-agency-page .categories {
        grid-template-columns: 25% 25% 25% 25%;
    }
    .home-agency-page .brands {
        grid-template-columns: 25% 25% 25% 25%;
    }
    .category {
        min-height: 50vh;
    }
}

@media (min-width: 1000px) {
    .category-overlay {
        font-size: 25vw;
    }
}

@media (min-width: 1200px) {
    .category-overlay {
        font-size: 25rem;
    }
}