<main class="about-page">
    <img src="/images/bg-03.png" alt="">
    <div class="container">
        <p>Founded in 2001, Bowstring has grown into a global creative content studio specializing in connecting brands and their audiences
        across every channel.  We are vertically integrated with a diverse team of 40+ creative and technical professionals who collaborate to create stories that engage, inspire and call audiences to action.
        </p>
        <p><b>We are vertically integrated with a diverse team of 40+ creative and technical professionals 
        who collaborate to create stories that engage, inspire and call audiences to action.
        </b></p>
        <p>
            Filmmaking for us is about finding and telling captivating stories through strong
            visuals and genuine performances, going beyond the surface to invite the 
            audience to explore something personal and universal, something human.
            <br>
            <br>
            Bowstring Studios is your perfect production partner for one simple reason: 
            you aren’t going to surprise us. We understand working with agencies and
            Fortune 100 brands because we’ve done it successfully for decades. Last-minute
            requests? Sure. Overnight edits? Do them all the time. Produce 50 videos in 
            50 shoot daysvin 50 different cities? Been there, done that, have the production
            model already built.    
        </p>
    </div>
    <img src="/images/bg-04.png" alt="">
    <div class="container">
        <p>Over the last year alone, Bowstring has produced content in 32 US states & 18 countries. We go where the story takes us…
        and we’re accustomed to working in less than ideal circumstances, whether that’s a tiny backstage production studio or on the 
        ground in the West Bank or the People’s Republic of China.
        </p>
        <p>
            Our team is experienced in coordinating international productions. We understand complex cross-border logistics, including 
            obtaining proper visas, carnet preparation, customs coordination, working with local film offices and governments, the nuances of 
            drone filming abroad, etc.    
        </p>
    </div>
    <img src="/images/bg-05.png" alt="">
    <div class="container">
        <h2 style="">Where Art Meets Engineering</h2>
        <div class="columns">
            <div>
                <h3>Pre-Production</h3>
                <p>
                    Art Direction <br>
                    Casting <br>
                    Set Design Wardrobe Styling  <br>
                    Storyboards  <br>
                    Concept Design  <br>
                    Location Scouting <br>
                </p>
            </div>
            <div>
                <h3>Production</h3>
                <p>
                    Aerial Cinematography <br>
                    Underwater Cinematography <br>
                    Remote Production <br>
                    Field Audio  <br>
                    Green/Blue Screen <br>
                    Multicam Productions <br>
                    Live Broadcast/Webcast <br>
                    Multi-City Productions <br>
                    International Productions <br>
                    Studio Productions <br>
                    International Productions  <br>
                    Studio Productions <br>
                    Commercial Photography <br>
                    Twitch Streaming <br>
                </p>
            </div>
            <div>
                <h3>Pro-Production</h3>
                <p>
                    2D/3D Motion Graphics Animation <br>
                    3D Modeling <br>
                    Color Grading <br>
                    Digital Asset Management  <br>
                    Editorial Finishing <br>
                    Rotoscoping <br>
                    Sound Mixing and Scoring  <br>
                    Virtual Reality Post <br>
                    VFX <br>
                </p>
            </div>
        </div>
    </div>
    <div class="container section-dark">
        <h2 style="">Working Together</h2>
    
        <h3>Story Development</h3>
        <p>
            It can be easy to get lost in all of the details of a production, and we see it as our role to keep our eye firmly fixed on the
            story we are trying to tell. We understand what it takes to deeply internalize a brand’s story and reflect that in a piece of content.
        </p>
        <h3>Managing Volume</h3>
        <p>
            With a full-time team of 40+ professionals and an integrated production model utilizing our own people and gear, Bowstring is
            intentionally designed to execute large numbers of simultaneous projects. Most importantly, since we aren’t relying on an 
            ever-changing cast of freelancers, we have complete control over quality and budget.
        </p>
    
        <h3>Creative Support</h3>
        <p>
            Though our agency partners often begin our partnership thinking of Bowstring as just a production company, our relationship 
            usually blossoms into something deeper. Bowstring has a deep creative roster and our scale exposes us to hundreds of content  
            projects per year across more than a dozen verticals. We can be a resource for creative ideation, writing, concept refinement and 
            more. We often provide technical assistance during the bid process to make sure what’s being pitched is producible and we can 
            often solve budget problems through creative tweaks to the production model. We also lessen the burden on our agency partners 
            by completely removing concerns such as sourcing great shooting boards or having to explain what a production book should 
            look like.
        </p>

        <h3>Predictable Financials</h3>
        <p>
            Bowstring has two advantages when it comes to cost. First, we located our company in Philadelphia, not New York or Los Angeles. 
            Since our work is primarily on location, locating in a lower-cost city like Philadelphia lets us remain cost-competitive, worldwide. 
            Second, we typically agree upon a discounted rate card for all services with our agency partners, allowing them to add a studio 
            fee over all of our costs without unreasonably straining the project budget.
        </p>
        
    </div>
    <div style="line-height: 0;"><img src="images/bg-06.png" alt=""></div>
</main>