<main class="application-form-page">
    <h2>Senior Film Creative</h2>
    <h3>Personal Information</h3>
    <p><span class="color-yellow-light">*</span> Required Information</p>
    <form action="" class="">
            <div class="row">
                <div class="text-field col-12 col-lg-6">
                    <label for="firstName"><span class="color-yellow-light">*</span> First Name</label>
                    <input type="text" name="firstName" id="firstName">
                </div>
                <div class="text-field col-12 col-lg-6">
                    <label for="lastName"><span class="color-yellow-light">*</span> Last Name</label>
                    <input type="text" name="lastName" id="lastName">
                </div>
            </div>
            <div class="text-field">
                <label for="email"><span class="color-yellow-light">*</span> Email</label>
                <input type="text" name="email" id="email">
            </div>
            {{!-- <div class="radio-field">
                <label>
                    <input type="radio" name="type" value="agency">
                    <div class="radio-box"></div>
                    Agency
                </label>
                <label>
                    <input type="radio" name="type" value="producer">
                    <div class="radio-box"></div>
                    Producer
                </label>
                <label>
                    <input type="radio" name="type" value="independent">
                    <div class="radio-box"></div>
                    Independent
                </label>
            </div> --}}
            <div class="text-field">
                <label for="message">Message</label>
                <textarea name="message" id="message"></textarea>
            </div>
            {{!-- <div class="submit-button">
                <button type="submit" class="btn">SUBMIT</button>
            </div> --}}
            <h4>Profile</h4>
        </form>
</main>