<section class="careers-page">
    <div class="accordion-container">
        <div class="ac">
            <h4 class="ac-header">
                <button class="ac-trigger">Executive Film Producer</button>
            </h4>
            <div class="ac-panel">
                <div class="ac-content">
                    <p>Since 2001, our team has sought out innovative ways to tell stories, share information, and visualize solutions that are customized for 
                    our partners. Our storytelling aims to engage, inspire, and call audiences to action. The Bowstring team has the industry expertise 
                    and strategic mindset to support top brands and agencies through singular projects, as well as long-term content plans and 
                    campaigns.</p>
                    <p>We KNOW  the challenges you are up against. We KNOW how to help you get the most out  of your investment in content.</p>
                    <p>Since 2001, our team has sought out innovative ways to tell stories, share information, and visualize solutions that are customized for
                    our partners. Our storytelling aims to engage, inspire, and call audiences to action. The Bowstring team has the industry expertise 
                    and strategic mindset to support top brands and agencies through singular projects, as well as long-term content plans and campaigns.</p>
                    <a href="#" class="btn">APPLY NOW</a>
                </div>
            </div>
        </div>

        <div class="ac">
            <h4 class="ac-header">
                <button class="ac-trigger">Head of Films</button>
            </h4>
            <div class="ac-panel">
                <div class="ac-content">
                    <p>Since 2001, our team has sought out innovative ways to tell stories, share information, and visualize solutions that are customized for 
                    our partners. Our storytelling aims to engage, inspire, and call audiences to action. The Bowstring team has the industry expertise 
                    and strategic mindset to support top brands and agencies through singular projects, as well as long-term content plans and 
                    campaigns.</p>
                    <p>We KNOW  the challenges you are up against. We KNOW how to help you get the most out  of your investment in content.</p>
                    <p>Since 2001, our team has sought out innovative ways to tell stories, share information, and visualize solutions that are customized for
                    our partners. Our storytelling aims to engage, inspire, and call audiences to action. The Bowstring team has the industry expertise 
                    and strategic mindset to support top brands and agencies through singular projects, as well as long-term content plans and campaigns.</p>
                    <a href="#" class="btn">APPLY NOW</a>
                </div>
            </div>
        </div>

        <div class="ac">
            <h4 class="ac-header">
                <button class="ac-trigger">Executive Film Producer</button>
            </h4>
            <div class="ac-panel">
                <div class="ac-content">
                    <p>Since 2001, our team has sought out innovative ways to tell stories, share information, and visualize solutions that are customized for 
                    our partners. Our storytelling aims to engage, inspire, and call audiences to action. The Bowstring team has the industry expertise 
                    and strategic mindset to support top brands and agencies through singular projects, as well as long-term content plans and 
                    campaigns.</p>
                    <p>We KNOW  the challenges you are up against. We KNOW how to help you get the most out  of your investment in content.</p>
                    <p>Since 2001, our team has sought out innovative ways to tell stories, share information, and visualize solutions that are customized for
                    our partners. Our storytelling aims to engage, inspire, and call audiences to action. The Bowstring team has the industry expertise 
                    and strategic mindset to support top brands and agencies through singular projects, as well as long-term content plans and campaigns.</p>
                    <a href="#" class="btn">APPLY NOW</a>
                </div>
            </div>
        </div>

        <div class="ac">
            <h4 class="ac-header">
                <button class="ac-trigger">Head of Films</button>
            </h4>
            <div class="ac-panel">
                <div class="ac-content">
                    <p>Since 2001, our team has sought out innovative ways to tell stories, share information, and visualize solutions that are customized for 
                    our partners. Our storytelling aims to engage, inspire, and call audiences to action. The Bowstring team has the industry expertise 
                    and strategic mindset to support top brands and agencies through singular projects, as well as long-term content plans and 
                    campaigns.</p>
                    <p>We KNOW  the challenges you are up against. We KNOW how to help you get the most out  of your investment in content.</p>
                    <p>Since 2001, our team has sought out innovative ways to tell stories, share information, and visualize solutions that are customized for
                    our partners. Our storytelling aims to engage, inspire, and call audiences to action. The Bowstring team has the industry expertise 
                    and strategic mindset to support top brands and agencies through singular projects, as well as long-term content plans and campaigns.</p>
                    <a href="#" class="btn">APPLY NOW</a>
                </div>
            </div>
        </div>

        <div class="ac">
            <h4 class="ac-header">
                <button class="ac-trigger">Senior Film Creative</button>
            </h4>
            <div class="ac-panel">
                <div class="ac-content">
                    <p>Since 2001, our team has sought out innovative ways to tell stories, share information, and visualize solutions that are customized for 
                    our partners. Our storytelling aims to engage, inspire, and call audiences to action. The Bowstring team has the industry expertise 
                    and strategic mindset to support top brands and agencies through singular projects, as well as long-term content plans and 
                    campaigns.</p>
                    <p>We KNOW  the challenges you are up against. We KNOW how to help you get the most out  of your investment in content.</p>
                    <p>Since 2001, our team has sought out innovative ways to tell stories, share information, and visualize solutions that are customized for
                    our partners. Our storytelling aims to engage, inspire, and call audiences to action. The Bowstring team has the industry expertise 
                    and strategic mindset to support top brands and agencies through singular projects, as well as long-term content plans and campaigns.</p>
                    <a href="#" class="btn">APPLY NOW</a>
                </div>
            </div>
        </div>

        <div class="ac">
            <h4 class="ac-header">
                <button class="ac-trigger">Head of Films</button>
            </h4>
            <div class="ac-panel">
                <div class="ac-content">
                    <p>Since 2001, our team has sought out innovative ways to tell stories, share information, and visualize solutions that are customized for 
                    our partners. Our storytelling aims to engage, inspire, and call audiences to action. The Bowstring team has the industry expertise 
                    and strategic mindset to support top brands and agencies through singular projects, as well as long-term content plans and 
                    campaigns.</p>
                    <p>We KNOW  the challenges you are up against. We KNOW how to help you get the most out  of your investment in content.</p>
                    <p>Since 2001, our team has sought out innovative ways to tell stories, share information, and visualize solutions that are customized for
                    our partners. Our storytelling aims to engage, inspire, and call audiences to action. The Bowstring team has the industry expertise 
                    and strategic mindset to support top brands and agencies through singular projects, as well as long-term content plans and campaigns.</p>
                    <a href="#" class="btn">APPLY NOW</a>
                </div>
            </div>
        </div>

        <div class="ac">
            <h4 class="ac-header">
                <button class="ac-trigger">Executive Film Producer</button>
            </h4>
            <div class="ac-panel">
                <div class="ac-content">
                    <p>Since 2001, our team has sought out innovative ways to tell stories, share information, and visualize solutions that are customized for 
                    our partners. Our storytelling aims to engage, inspire, and call audiences to action. The Bowstring team has the industry expertise 
                    and strategic mindset to support top brands and agencies through singular projects, as well as long-term content plans and 
                    campaigns.</p>
                    <p>We KNOW  the challenges you are up against. We KNOW how to help you get the most out  of your investment in content.</p>
                    <p>Since 2001, our team has sought out innovative ways to tell stories, share information, and visualize solutions that are customized for
                    our partners. Our storytelling aims to engage, inspire, and call audiences to action. The Bowstring team has the industry expertise 
                    and strategic mindset to support top brands and agencies through singular projects, as well as long-term content plans and campaigns.</p>
                    <a href="#" class="btn">APPLY NOW</a>
                </div>
            </div>
        </div>

        <div class="ac">
            <h4 class="ac-header">
                <button class="ac-trigger">Senior Film Creative</button>
            </h4>
            <div class="ac-panel">
                <div class="ac-content">
                    <p>Since 2001, our team has sought out innovative ways to tell stories, share information, and visualize solutions that are customized for 
                    our partners. Our storytelling aims to engage, inspire, and call audiences to action. The Bowstring team has the industry expertise 
                    and strategic mindset to support top brands and agencies through singular projects, as well as long-term content plans and 
                    campaigns.</p>
                    <p>We KNOW  the challenges you are up against. We KNOW how to help you get the most out  of your investment in content.</p>
                    <p>Since 2001, our team has sought out innovative ways to tell stories, share information, and visualize solutions that are customized for
                    our partners. Our storytelling aims to engage, inspire, and call audiences to action. The Bowstring team has the industry expertise 
                    and strategic mindset to support top brands and agencies through singular projects, as well as long-term content plans and campaigns.</p>
                    <a href="#" class="btn">APPLY NOW</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
  new Accordion('.accordion-container');
</script>