<section class="section-item-category">
    <div class="item-cover">
        <h1 class="item-h1 avenir-black">Commercials</h1>
    </div>
    <div class="item-text">
        <h2 class="item-h2 avenir-black">Our Latest Work</h2>
    </div>
    <div class="item-wrapper">
        <div>
            <a onclick="popupVideoCategory();">
                <img src="\images\cat-commercials-xfinity.png" alt="">
                <div>
                    <p class="item-p title-p avenir-black">Comcast</p>
                </div>
            </a>
            <div class="item-trailer">
                <iframe src="https://player.vimeo.com/video/76979871?autoplay=0&loop=1&autopause=1" width="920" height="540" frameborder="0" allow="autoplay; fullscreen"></iframe>
                <i class="fas fa-times close-video" onclick="popupVideoCategory();"></i>
            </div>
        </div> 
        
        <div>
            <a href="#">
                <img src="\images\cat-XFINITY-COFFEESHOP.png" alt="">
                <div>
                    <p class="item-p title-p avenir-black">Xfinity</p>
                </div>
            </a>
        </div> 
        <div>
            <a href="#">
                <img src="\images\cat-HAPP.png" alt="">
                <div>
                    <p class="item-p title-p avenir-black">Happy Valley Bureau</p>
                </div>
            </a>
        </div> 
        <div>
            <a href="#">
                <img src="\images\cat-netapp.png" alt="">
                <div>
                    <p class="item-p title-p avenir-black">NetApp</p>
                </div>
            </a>
        </div> 
        <div>
            <a href="#">
                <img src="\images\cat-aamco.png" alt="">
                <div>
                    <p class="item-p title-p avenir-black">AAMCO</p>
                </div>
            </a>
        </div> 
        <div>
            <a href="#">
                <img src="\images\cat-stjoseph.png" alt="">
                <div>
                    <p class="item-p title-p avenir-black">Saint Joseph' University</p>
                </div>
            </a>
        </div> 
        <div>
            <a href="#">
                <img src="\images\cat-temple.png" alt="">
                <div>
                    <p class="item-p title-p avenir-black">Temple University</p>
                </div>
            </a>
        </div> 
        <div>
            <a href="#">
                <img src="\images\cat-stanfordmed.png" alt="">
                <div>
                    <p class="item-p title-p avenir-black">Stanford Medicine</p>
                </div>
            </a>
        </div> 
        <div>
            <a href="#">
                <img src="\images\cat-moog.png" alt="">
                <div>
                    <p class="item-p title-p avenir-black">MOOG</p>
                </div>
            </a>
        </div> 
        <div>
            <a href="#">
                <img src="\images\cat-AAMCO2.png" alt="">
                <div>
                    <p class="item-p title-p avenir-black">AAMCO</p>
                </div>
            </a>
        </div> 
        <div>
            <a href="#">
                <img src="\images\cat-arnicare.png" alt="">
                <div>
                    <p class="item-p title-p avenir-black">Walrus</p>
                </div>
            </a>
        </div> 
        <div>
            <a href="" >
                <img src="\images\cat-villanova.png" alt="">
                <div>
                    <p class="item-p title-p avenir-black">Villanova University</p>
                </div>
            </a>
        </div> 
    </div>
</section>


<script type="text/javascript">       
      function popupVideoCategory() {
        var trailer = document.querySelector(".item-trailer"); 
        trailer.classList.toggle("active-video");
      }
</script>

