<section class="contact-page">
    <h2>Want to work together?</h2>
    <form action="">
        <div class="text-field">
            <label for="firstName">*First Name</label>
            <input type="text" name="firstName" id="firstName">
        </div>
        <div class="text-field">
            <label for="lastName">*Last Name</label>
            <input type="text" name="lastName" id="lastName">
        </div>
        <div class="text-field">
            <label for="email">*Email</label>
            <input type="text" name="email" id="email">
        </div>
        <div class="radio-field">
            <label>
                <input type="radio" name="type" value="agency">
                <div class="radio-box"></div>
                Agency
            </label>
            <label>
                <input type="radio" name="type" value="producer">
                <div class="radio-box"></div>
                Producer
            </label>
            <label>
                <input type="radio" name="type" value="independent">
                <div class="radio-box"></div>
                Independent
            </label>
        </div>
        <div class="text-field">
            <label for="message">Message</label>
            <textarea name="message" id="message"></textarea>
        </div>
        <div class="submit-button">
            <button type="submit" class="btn">SUBMIT</button>
        </div>
    </form>
    <div class="contact-address">
        <h4>PHILADELPHIA</h4>
        <h5>Headquarters</h5>
        <p>
            1010 Spring Mill Ave.<br>
            #100 Conshohoken,<br>
            PA 19428
        </p>
    </div>
    <p class="contact-number">484.342.0606</p>
    <div class="contact-info">
        <h5>Please direct RFP'S and new business to:</h5>
        <p>
            Larry Schwartz<br>
            VP Client Services<br>
            larry@bowstring.tv<br>
            <br>
            info@bowstring.tv
        </p>
    </div>
</section>