<section class="contact-page">
    <h2>Want to work together?</h2>
    <div class="row">
        <form action="" class="col-12 col-lg-6">
            <div class="row">
                <div class="text-field col-12 col-lg-6">
                    <label for="firstName">*First Name</label>
                    <input type="text" name="firstName" id="firstName">
                </div>
                <div class="text-field col-12 col-lg-6">
                    <label for="lastName">*Last Name</label>
                    <input type="text" name="lastName" id="lastName">
                </div>
            </div>
            <div class="text-field">
                <label for="email">*Email</label>
                <input type="text" name="email" id="email">
            </div>
            <div class="radio-field">
                <label>
                    <input type="radio" name="type" value="agency">
                    <div class="radio-box"></div>
                    Agency
                </label>
                <label>
                    <input type="radio" name="type" value="producer">
                    <div class="radio-box"></div>
                    Producer
                </label>
                <label>
                    <input type="radio" name="type" value="independent">
                    <div class="radio-box"></div>
                    Independent
                </label>
            </div>
            <div class="text-field">
                <label for="message">Message</label>
                <textarea name="message" id="message"></textarea>
            </div>
            <div class="submit-button">
                <button type="submit" class="btn">SUBMIT</button>
            </div>
        </form>
        <div class="contact-address col-12 col-lg-3">
            <h4>PHILADELPHIA</h4>
            <h5>Headquarters</h5>
            <p>
                1010 Spring Mill Ave.<br>
                #100 Conshohoken,<br>
                PA 19428
            </p>
            <p class="contact-number">484.342.0606</p>
        </div>
        <div class="contact-info col-12 col-lg-3">
            <h5>Please direct RFP'S and new business to:</h5>
            <p>
                Larry Schwartz<br>
                VP Client Services<br>
                larry@bowstring.tv<br>
                <br>
                info@bowstring.tv
            </p>
        </div>
    </div>
</section>