<main class="home-agency-page">
    <div class="categories">
        <a href="/category/commercials" class="category">
            <h4>Commercials</h4>
            <div class="category-overlay">
                C
            </div>
        </a>
        <a href="#" class="category">
            <h4>Social Media &amp; Influencer</h4>
            <div class="category-overlay">
                S
            </div>
        </a>
        <a href="#" class="category">
            <h4>Branded Content</h4>
            <div class="category-overlay">
                B
            </div>
        </a>
        <a href="#" class="category">
            <h4>Experiential Activations &amp; Recaps</h4>
            <div class="category-overlay">
                E
            </div>
        </a>
        <a href="#" class="category">
            <h4>Live Stream &amp; Remote Production</h4>
            <div class="category-overlay">
                L
            </div>
        </a>
        <a href="#" class="category">
            <h4>Animation</h4>
            <div class="category-overlay">
                A
            </div>
        </a>
        <a href="#" class="category">
            <h4>CGI</h4>
            <div class="category-overlay">
                C
            </div>
        </a>
        <a href="#" class="category">
            <h4>Photography</h4>
            <div class="category-overlay">
                P
            </div>
        </a>
    </div>
    <div class="container">
        <h2 class="text-center">We've worked with some awesome brands</h2>
        <div class="brands">
            <div class="brand">
                <img src="/images/icons/brands/3m-b.png" alt="">
            </div>
            <div class="brand">
                <img src="/images/icons/brands/aamco-b.png" alt="">
            </div>
            <div class="brand">
                <img src="/images/icons/brands/abbott-b.png" alt="">
            </div>
            <div class="brand">
                <img src="/images/icons/brands/am-family-b.png" alt="">
            </div>
            <div class="brand">
                <img src="/images/icons/brands/arizona-b.png" alt="">
            </div>
            <div class="brand">
                <img src="/images/icons/brands/chevrolet-b.png" alt="">
            </div>
            <div class="brand">
                <img src="/images/icons/brands/coca-cola-b.png" alt="">
            </div>
            <div class="brand">
                <img src="/images/icons/brands/conde-nast-b.png" alt="">
            </div>
            <div class="brand">
                <img src="/images/icons/brands/esurance-b.png" alt="">
            </div>
            <div class="brand">
                <img src="/images/icons/brands/johnsonville-b.png" alt="">
            </div>
            <div class="brand">
                <img src="/images/icons/brands/lincoln-b.png" alt="">
            </div>
            <div class="brand">
                <img src="/images/icons/brands/lowes-b.png" alt="">
            </div>
            <div class="brand">
                <img src="/images/icons/brands/millercoors-b.png" alt="">
            </div>
            <div class="brand">
                <img src="/images/icons/brands/nord-anglia-b.png" alt="">
            </div>
            <div class="brand">
                <img src="/images/icons/brands/stanford-medicine-b.png" alt="">
            </div>
            <div class="brand">
                <img src="/images/icons/brands/under-armour-b.png" alt="">
            </div>
            <div class="brand">
                <img src="/images/icons/brands/us-army-b.png" alt="">
            </div>
            <div class="brand">
                <img src="/images/icons/brands/us-bank-b.png" alt="">
            </div>
            <div class="brand">
                <img src="/images/icons/brands/villanova-b.png" alt="">
            </div>
            <div class="brand">
                <img src="/images/icons/brands/xfinity-b.png" alt="">
            </div>
        </div>
    </div>
</main>