<h1 class="avenir-black">{{title}}</h1>
<p>Welcome to {{title}}</p>
<h2 class="avenir-black">Avenir Black</h2>
<h2 class="avenir-bold">Avenir Bold</h2>
<h2 class="avenir-medium">Avenir Medium</h2>
<h2 class="avenir-medium-italic">Avenir Medium Italic</h2>
<h2 class="avenir-medium-oblique">Avenir Medium Oblique</h2>
<h2 class="avenir-roman">Avenir Roman</h2>
<h2 class="avenir-book">Avenir Book</h2>
<h2 class="avenir-light">Avenir Light</h2>
<h2 class="avenir-light-italic">Avenir Light Italic</h2>
<h2 class="avenir-thin">Avenir Thin</h2>

