<div class="landing">
    <div class="landing_boxone">
        <div class="landing_boxone_childone">
            <img class="landing_boxone_childone_img" src="/images/logo-secundario.png" alt="">
            <h2 class="avenir-medium-oblique landing_boxone_childone_h2 landing-h2">Content Solutions that Drive Businness Results</h2>
            <div class="landing_boxone_childone_linedown"></div>
        </div>
        <div class="landing_boxone_childtwo">
            <p class="avenir-medium-oblique landing_boxone_childtwo_p landing-p">Choose your path</p>
            <div class="box_btns">
                <a class="avenir-light btn-secondary" href="#">BRAND</a>
                <a class="avenir-light btn-secondary" href="/agency">AGENCY</a>
            </div>
        </div>
    </div>
    <div class="landing_boxtwo">
        <div class="landing_wrapper">
            <div class="landing_wrapper_item">
                <p class="avenir-medium-oblique landing-p">Founded in</p>
                <h2 class="avenir-black landing-h2">2001</h2>
            </div>
            <div class="landing_wrapper_item">
                <p class="avenir-medium-oblique landing-p">Studios</p>
                <h2 class="avenir-black landing-h2">+5</h2>
            </div>
            <div class="landing_wrapper_item">
                <p class="avenir-medium-oblique landing-p">Awards</p>
                <h2 class="avenir-black landing-h2">15</h2>
            </div>
            <div class="landing_wrapper_item">
                <p class="avenir-medium-oblique landing-p">Team</p>
                <h2 class="avenir-black landing-h2">30+</h2>
            </div>
            <div class="">
                <p class="avenir-medium-oblique landing-p">Clients</p>
                <h2 class="avenir-black landing-h2">300+</h2>
            </div>
        </div>
    </div>
</div>