<div class="landing">
    <div class="landing_boxone">
        <div class="landing_boxone_childone">
            <img class="landing_boxone_childone_img" src="/images/logo-secundario.png" alt="">
            <h2 class="avenir-medium-oblique landing_boxone_childone_h2">Content Solutions that Drive Businness Results</h2>
            <div class="landing_boxone_childone_linedown"></div>
        </div>
        <div class="landing_boxone_childtwo">
            <p class="avenir-medium-oblique landing_boxone_childtwo_p">Choose your path</p>
            <div class="box_btns">
                <a class="btn-secondary avenir-light" href="#">BRAND</a>
                <a class="btn-secondary avenir-light" href="#">AGENCY</a>
            </div>
        </div>
    </div>
    <div class="landing_boxtwo">
        <div class="landing_wrapper">
            <div class="landing_wrapper_item">
                <p class="avenir-medium-oblique">Founded in</p>
                <h2 class="avenir-black">2001</h2>
            </div>
            <div class="landing_wrapper_item">
                <p class="avenir-medium-oblique">Studios</p>
                <h2 class="avenir-black">+5</h2>
            </div>
            <div class="landing_wrapper_item">
                <p class="avenir-medium-oblique">Awards</p>
                <h2 class="avenir-black">15</h2>
            </div>
            <div class="landing_wrapper_item">
                <p class="avenir-medium-oblique">Team</p>
                <h2 class="avenir-black">30+</h2>
            </div>
            <div class="">
                <p class="avenir-medium-oblique">Clients</p>
                <h2 class="avenir-black">300+</h2>
            </div>
        </div>
    </div>
</div>