<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/images/logo-secundario.png">
    <link rel='stylesheet' href='/fonts/Avenir/font.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <title>Bowstring Studios</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
