<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="/images/logo-secundario.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel='stylesheet' href='/fonts/Avenir/font.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <title>Bowstring Studios</title>
  </head>
  <body>
    <header>
      <div class="header-branding">
        <a href="/"><img src="/images/logo-primary.png" alt=""></a>
      </div>
      <div class="nav-open">
        <button><img src="/images/icons/menu-icon.png" alt=""></button>
      </div>
      <nav class="main-nav">
        <div class="nav-close">
          <button>X</button>
        </div>
        <ul class="nav-links">
          <li>
            <a href="/about" class="">ABOUT</a>
          </li>
          <li>
            <a href="/team">TEAM</a>
          </li>
          <li>
            <a href="/studio">STUDIO</a>
          </li>
          <li>
            <a href="#">CAREERS</a>
          </li>
          <li>
            <a href="#">CONTACT</a>
          </li>
        </ul>
        <ul class="nav-social-links social-links">
          <li><a href="#"><img src="/images/icons/instagram.svg" alt=""></a></li>
          <li><a href="#"><img src="/images/icons/facebook.svg" alt=""></a></li>
          <li><a href="#"><img src="/images/icons/youtube.svg" alt=""></a></li>
          <li><a href="#"><img src="/images/icons/linkedin.svg" alt=""></a></li>
        </ul>
        <div class="nav-contact">
          <h4 class="color-yellow-dark">PHILADELPHIA</h4>
          <p>Headquarters</p>
          <p>
            1010 Spring Mill Ave. <br>
            #100 Conshohoken, <br>
            PA 19428 <br>
            <span class="color-yellow-dark">484.342.0606</span>
          </p>
        </div>
      </nav>
    </header>
    {{{body}}}
    <footer>
      <section class="contact-banner">
        <div>
          <h3>Send us an email</h3>
        </div>
        <div>
          <button class="btn">LET'S TALK</button>
        </div>
      </section>
      <div class="footer-content">
        <nav class="footer-nav">
          <ul>
            <li><a href="#">CONTACT US</a></li>
            <li><a href="#">CAREERS</a></li>
            <li>
              <ul class="footer-social-links  social-links">
                <li><a href="https://www.instagram.com/bowstringstudios/"><img src="/images/icons/instagram.svg" alt=""></a></li>
                <li><a href="https://www.facebook.com/Bowstring-Studios-396851573674292/"><img src="/images/icons/facebook.svg" alt=""></a></li>
                <li><a href="https://www.youtube.com/channel/UCGsZzUjWY7XsknY7iqKMVzQ"><img src="/images/icons/youtube.svg" alt=""></a></li>
                <li><a href="https://www.linkedin.com/company/bow"><img src="/images/icons/linkedin.svg" alt=""></a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <div class="addresses-list">
          <div class="address">
            <h5>PHILADELPHIA</h5>
          </div>
          <div class="address">
            <h5>BUENOS AIRES</h5>
          </div>
          <div class="address">
            <h5>DETROIT</h5>
          </div>
          <div class="address">
            <h5>CHICAGO</h5>
          </div>
          <div class="address">
            <h5>HONG KONG</h5>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/swiper.js"></script>
  </body>
</html>
