<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="/images/logo-secundario.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/fonts/Avenir/font.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <title>Bowstring Studios</title>
  </head>
  <body>
    <header>
      <div class="header-branding">
        <img src="/images/logo-primary.png" alt="">
      </div>
      <div class="nav-open">
        <button><img src="/images/icons/menu-icon.png" alt=""></button>
      </div>
      <nav class="main-nav">
        <div class="nav-close">
          <button>X</button>
        </div>
        <ul class="nav-links">
          <li>
            <a href="#" class="active">ABOUT</a>
          </li>
          <li>
            <a href="#">TEAM</a>
          </li>
          <li>
            <a href="#">STUDIO</a>
          </li>
          <li>
            <a href="#">CAREERS</a>
          </li>
          <li>
            <a href="#">CONTACT</a>
          </li>
        </ul>
        <ul class="nav-social-links social-links">
          <li><a href="#"><img src="/images/icons/instagram.svg" alt=""></a></li>
          <li><a href="#"><img src="/images/icons/facebook.svg" alt=""></a></li>
          <li><a href="#"><img src="/images/icons/youtube.svg" alt=""></a></li>
          <li><a href="#"><img src="/images/icons/linkedin.svg" alt=""></a></li>
        </ul>
        <div class="nav-contact">
          <h4 class="color-yellow-dark">PHILADELPHIA</h4>
          <p>Headquarters</p>
          <p>
            1010 Spring Mill Ave. <br>
            #100 Conshohoken, <br>
            PA 19428 <br>
            <span class="color-yellow-dark">484.342.0606</span>
          </p>
        </div>
      </nav>
    </header>
    {{{body}}}
    <footer>
      <section class="contact-banner">
        <div>
          <h3>Send us an email</h3>
        </div>
        <div>
          <button class="btn">LET'S TALK</button>
        </div>
      </section>
      <div class="footer-content">
        <nav class="footer-nav">
          <ul>
            <li><a href="#">CONTACT US</a></li>
            <li><a href="#">CAREERS</a></li>
            <li>
              <ul class="footer-social-links  social-links">
                <li><a href="#"><img src="/images/icons/instagram.svg" alt=""></a></li>
                <li><a href="#"><img src="/images/icons/facebook.svg" alt=""></a></li>
                <li><a href="#"><img src="/images/icons/youtube.svg" alt=""></a></li>
                <li><a href="#"><img src="/images/icons/linkedin.svg" alt=""></a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <div class="addresses-list">
          <div class="address">
            <h5>PHILADELPHIA</h5>
            <p>1100 East Hector St <br>
            Conshohocken, <br>
            PA 19428.</p>
          </div>
          <div class="address">
            <h5>PHILADELPHIA</h5>
            <p>1100 East Hector St <br>
            Conshohocken, <br>
            PA 19428.</p>
          </div>
          <div class="address">
            <h5>PHILADELPHIA</h5>
            <p>1100 East Hector St <br>
            Conshohocken, <br>
            PA 19428.</p>
          </div>
          <div class="address">
            <h5>PHILADELPHIA</h5>
            <p>1100 East Hector St <br>
            Conshohocken, <br>
            PA 19428.</p>
          </div>
          <div class="address">
            <h5>PHILADELPHIA</h5>
            <p>1100 East Hector St <br>
            Conshohocken, <br>
            PA 19428.</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="/js/main.js"></script>
  </body>
</html>
