<section class="studio-section mt-nav">
    <div class="studio-banner" style="background-color: rgba(0,0,0,0.5);z-index:100">
        <img src="/images/bg-07.jpg" alt="" style="opacity: 0.5">
        <h1 class="avenir-black">Studio</h1>
    </div>
    <div class="studio-description">
        <p>
            Our Conshohocken shooting stage is the ideal space for video productions and photography shoots of all sizes. The full-service 
            studio offers a 20′ x 9′ stage, 12′ clear space to the light grid, high-intensity studio lighting and infinity cyc with a cove. There is 
            plenty of on-site parking and load-in access is only 20 feet from the stage.
        </p>
        <p>
            At 2000SF of total space, there is ample room for crew, talent, and clients, including enclosed makeup and green rooms, as well as 
            full bathrooms and a catering-ready kitchen. The space also includes a lounge area where clients and talent can relax and view the 
            production. The production studio rental fee includes electricity and basic grip equipment, with access to Bowstring’s extensive 
            lighting, camera and grip catalogs always available as additional services.
        </p>
    </div>
    <div class="studio-slider studio-swiper-container swiper-container mySwiper">
        <div class="studio-swiper-wrapper swiper-wrapper">
            <div class="studio-swiper-slide swiper-slide">
                <img src="/images/bg-08.png" alt="">
            </div>
            <div class="studio-swiper-slide swiper-slide">
                <img src="/images/bg-08.png" alt="">
            </div>
            <div class="studio-swiper-slide swiper-slide">
                <img src="/images/bg-08.png" alt="">
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>