:root {
    /* Fonts */
    font-family: "avenir";
    /* Colors */
    --yellow-dark: #DE9816;
    --yellow-light: #FBB03B;
    --black: #444;
    --white: #fff;
    --grey-700: #4d4d4d;
    --grey-500: #707070;
    --grey-200: #f2f1f0;
    --br-8: 8px;
}